.card {
  border: none;
  background: transparent;
  margin: 1em 0;
}
.card-header {
  transition: all 0.5s;
  background: #1c1c1c;
  text-decoration: none !important;
  border-radius: 0 !important;
  padding: 2em;
  flex-grow: 1;
  border: 1px solid #212121;
}

.card-header:focus {
  outline: none;
}

.card-header:hover {
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.3);
  background: #232323;
  background: linear-gradient(#212121, #2b2b2b);
}

.card-header h4 {
  color: #00ff4c;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}

.card-header p {
  font-size: 0.8rem;
  color: #bbbbbb;
}
