<div class="row">
  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <a class="card-header" href="c1-o-jogo.html">
      <h4>O Jogo</h4>
      <p>Ensinamentos essenciais do jogo</p>
    </a>
  </div>

  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <a class="card-header" href="c3-not%c3%83%c2%adcias.html">
      <h4>Notícias</h4>
      <p>Fique sempre atualizado</p>
    </a>
  </div>

  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <a class="card-header" href="c6-problemas.html">
      <h4>Problemas</h4>
      <p>Soluções de problemas</p>
    </a>
  </div>

  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <a class="card-header" href="c7-tutoriais.html">
      <h4>Tutoriais</h4>
      <p>Tutoriais e dicas relevantes</p>
    </a>
  </div>
</div>
