<section class="intro">
  <div class="container">
    <img src="../webassets/201710_Knowledge/img/Logo_style.png" alt="" />

    <form class="search" onsubmit="return false;">
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="form-control mr-sm-2" type="text" placeholder="Faça aqui a sua busca..." aria-label="Search" />
      </div>

      <div class="result-search"></div>
    </form>
  </div>
</section>
