.intro {
  padding: 2rem 1rem;
  // background: url(/assets/images/Eox_4bqXEAAhla5.jpg);
  background-position: center center;
  opacity: 0.5;
  max-width: 1920px;
  background-size: cover;
  // object-fit: cover;
  border-radius: 0.3rem;
  min-height: 402px;
  /*display: flex;*/
  align-items: center;
  position: relative;
  border-radius: 0 !important;
}

.intro_before {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

/* SEARCH */

.search {
  max-width: 600px;
  margin: 5em auto 0;
}

.form-control {
  padding: 1em 0.75em 0.75em;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  transition: 1s;
}

.form-control:focus {
  color: #929292;
  background: transparent;
  border-color: #929292;
  outline: 0;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  letter-spacing: 0.08rem;
}

.input-group-addon {
  padding: 0px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #929292;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  background: transparent;
  border-bottom: 1px solid #929292;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.categorias {
  padding: 2em 0;
}

.categorias {
  padding: 2em 0;
}

.card {
  border: none;
  background: transparent;
  margin: 1em 0;
}
.card-header {
  transition: all 0.5s;
  background: #1c1c1c;
  text-decoration: none !important;
  border-radius: 0 !important;
  padding: 2em;
  flex-grow: 1;
  border: 1px solid #212121;
}

.sec-hr {
  width: 40px;
  height: 1px;
  background: #00ff4c !important;
  margin: -0.2em auto 1em;
}
