<section class="intro">
  <div class="container">
    <!-- <img src="../../../assets/images/Eox_4bqXEAAhla5.jpg" alt="" /> -->
    <p class="lead text-white text-center mt-4">Seja bem vindo(a) na central games, aqui você pode escrever algum tutorial ou até mesmo aprender com alguns, postar dicas e se divertir.</p>

    <form class="search" onsubmit="return false;">
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="form-control mr-sm-2" type="text" placeholder="Faça aqui a sua busca..." aria-label="Search" />
      </div>

      <div class="result-search"></div>
    </form>
  </div>
</section>

<section class="categorias container">
  <h2 class="sec-title text-center">O que você procura?</h2>
  <hr class="sec-hr" />

  <app-start-card></app-start-card>
</section>
